*.gem
.bundle
.config
.yardoc
coverage/
docs/
lib/bundler/man
spec/tmp
tmp

# Bundle now advises that the Gemfile.lock be committed for gems. We have left
# it in the .gitignore for ease of supporting a wide range of Ruby versions.
Gemfile.lock
